<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.UserMapper">
	<insert id="insertUser" parameterType = "edu.swjtuhc.demo.model.SysUser">
	insert into user
	(uID,uName,uPwd,uSex,uPhone,uRegTime)
	values
	(#{uID},#{uName},#{uPwd},#{uSex},#{uPhone},#{uRegTime})
	</insert>
	<insert id="insertLogin" parameterType = "edu.swjtuhc.demo.model.SysUser">
	insert into user
	(uName,uPwd)
	values
	(#{uName},#{uPwd})
	</insert>
	<select id="selectuserByuName"  parameterType = "java.lang.String" resultType="edu.swjtuhc.demo.model.SysUser">
		select * from user
		where
		uName = #{uName}
	</select>
	<select id="selectuserByuPwd"  parameterType = "java.lang.String" resultType="edu.swjtuhc.demo.model.SysUser">
		select uName,uPwd from user
		where
		uName = #{uName} and
		uPwd = #{uPwd}
	</select>
	<update id="updateuserByuPwd" parameterType = "edu.swjtuhc.demo.model.SysUser" >
		update user
		set uPwd = #{uPwd}
		where uName = #{uName} and
		uPwd = #{uPwd}
	</update>
</mapper>